<<<<<<< HEAD
body {
  background-color: lightblue;
}
=======
>>>>>>> 3c7c9c6eb18070e5649c5698d88fa9f4499b94e0


p {
 color:blueviolet;

}
<<<<<<< HEAD
div2 {
  border: 2px solid red;
  border-radius: 4px;
}
div2 {
  background-color: rgb(138, 209, 25);
}
=======
>>>>>>> 3c7c9c6eb18070e5649c5698d88fa9f4499b94e0
#pets
{
  color: red
}

li {
  display: inline-block;
}
a {
  text-decoration: none ;
}
header{
  height: 90px;
}

h1 {
  float: left;
}
ul {
  float: right ;
}